*{
  box-sizing: border-box;
} 

a{
  color: white;
  text-decoration: none;

}

body{
  background-color: black;  
  color: white;
  font-size: 24px;
  line-height: 28px;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

.header{
  height: 100vh;
}

.container{
  padding: 0 15px;
  max-width: 1230px;
  margin: 0 auto;
}

.header-top{
  display: flex;
  justify-content: space-between;
}

.logo{
  padding-top: 36p;
  margin-bottom: 29px;
}

